* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* APP */

.app-layout {
  display: flex;
  min-height: 100vh;
  background: #050816;
}

/* SIDEBAR */

.sidebar {
  width: 260px;
  background: #0b1220;
  border-right: 1px solid #1f2937;
  padding: 30px;
}

.logo {
  color: #8b5cf6;
  font-size: 32px;
  margin-bottom: 40px;
}

.nav-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  padding: 12px;
  border-radius: 10px;
  transition: 0.2s;
}

.nav-links a:hover {
  background: #1e293b;
}

/* RIGHT SIDE */

.main-area {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* HEADER */

.header {
  height: 80px;

  background: #071122;

  border-bottom: 1px solid #1f2937;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 30px;
}

.header-title {
  color: white;
  font-size: 24px;
}

.header-subtitle {
  color: #94a3b8;
  font-size: 14px;
}

.add-memory-btn {
  background: #8b5cf6;
  color: white;

  border: none;

  padding: 12px 20px;

  border-radius: 10px;

  cursor: pointer;
}

.add-memory-btn:hover {
  opacity: 0.9;
}

/* CONTENT */

.content {
  flex: 1;
  padding: 30px;
}